fastapi==0.95.1
uvicorn==0.21.1
motor
pydantic==1.10.7
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0  
pydantic[email]==1.10.7
pydantic[dotenv]
fastapi-jwt-auth==0.5.0
python-multipart==0.0.6
pymongo
openai
jinja2==3.1.2  # Add the specific version you want or just use jinja2